<div class="row col-sm-8 col-sm-offset-2">
{{outlet}}
</div>

{{#each entry in model}}
  <div class="entries col-sm-4 text-center">
    <img class="pic" {{bind-attr src=entry.photo_url}}>
    {{#link-to 'entries.show' entry classNames="entry-name"}}{{entry.title}}{{/link-to}}
    <div class="count-wrapper">
      <span class="comment-count">{{entry.comments.length}} <i class="glyphicon glyphicon-comment"></i></span>
      <span class="like-count">{{entry.like}} <i class="glyphicon glyphicon-heart"></i></span>
    </div>
  </div>
{{/each}}
